@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
    font-family: 'Montserrat';
}
body{
    margin : 0 auto;
}

/* tete de page */
header.header{
    display: flex;
    align-items:center;

}


header.header img {
    margin-left : 30px;
   
}




.big-title{
    font-size: 50px;
    display: flex;
    align-items:center;
    margin-left : 100px;
}

/* menu de navigation */

nav.nav{
    margin-top : 35px;
    font-size: 20px;
    list-style: none;
    margin-left : 50px;
    
}

/* jeux */


.jeux{
    display: flex;
    margin-left : 20px;
    
}

.delivery-icon{
    font-size: 15px;
}

